 @import "./variables.less";
 @import 'lxgw-wenkai-screen-webfont/style.css';

 body,
 button,
 dd,
 dl,
 dt,
 fieldset,
 form,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 hr,
 input,
 legend,
 li,
 ol,
 p,
 pre,
 td,
 textarea,
 th,
 ul {
     margin: 0;
     padding: 0;
 }

 a {
     color: @textColor;
     text-decoration: none;
 }
 img {
    vertical-align: top;
 }

 ul,li {
    list-style: none;
 }

 html {
   // width: 100vw;
   
   overflow-y: overlay;
    
    background-color: #efefef;
 }
 body {
   position: relative;
   height: 100vh;
   background-color: #efefef;
   font-family: "LXGW WenKai Screen", sans-serif;
   scrollbar-color: red;

   
 }
 body::-webkit-scrollbar {
   width: 5px;
   background: linear-gradient(
     to bottom,
     hsl(0deg, 100%, 50%, 0.4) 0%,
     hsl(40deg, 100%, 50%) 20%,
     hsl(80deg, 100%, 50%) 30%,
     hsl(120deg, 100%, 50%) 40%,
     hsl(180deg, 100%, 50%) 50%,
     hsl(250deg, 100%, 50%) 80%,
     hsl(320deg, 100%, 50%, 0.4) 100%
   );
   border-radius: 5px;
 }

 body::-webkit-scrollbar-thumb {
   background: linear-gradient(
     to bottom,
     hsl(0deg, 100%, 50%, 0) 0%,
     hsl(0deg, 100%, 100%, 0.9) 20%,
     hsl(0deg, 100%, 100%, 0.9) 80%,
     hsl(0deg, 100%, 50%, 0) 100%
   );
   border-radius: 100%;
 }